@import "tailwindcss";
@import "splitting/dist/splitting.css";


@font-face {
  font-family: 'Switzer';
  src: url('/fonts/switzer/Switzer-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/switzer/Switzer-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  letter-spacing: -1px;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/switzer/Switzer-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1px;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  background-color: var(--foreground);
}

body {
  background: var(--foreground);
  color: var(--foreground);
  font-family: Switzer, sans-serif;
}

.transition-all {
  transition-timing-function: linear;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUpMenu {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

.banner-title {
  margin-bottom: 0;
}

body, p, span, a, h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
}

nav a, nav span {
  letter-spacing: 0;
}

